.filterItem {
    display: flex;
    flex-direction: column;
    gap: 20;
}

.countButton {
    padding: 10px 12px;
    max-height: 34px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #BABABA;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #303030;
    outline: none;
    font-size: 16px;
    max-width: fit-content;
    user-select: none;
} 