.passedQuestions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container span {
    text-align: start;
}

.buttonContainer {
    position: relative;
    right: 0;
}