.wrapper {
    display: flex;
    gap: 20px;
    width: 1200px;
    margin-inline: auto;
    margin-top: 40px;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.backButton {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 80px;
}

.backText {
    font-size: 20px;
    color: var(--main-yeahub, #6A0BFF);
    line-height: 0.5;
}

.card {
    width: 800px;
    border-radius: 24px;
    padding: 20px;
    box-shadow: 0px 4px 10px 0px #6A63761A;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.sectionTitle {
    font-size: 24px;
    line-height: 0.5;
    margin-bottom: 12px;
}

.rightColumn {
    margin-top: 150px;
    width: 390px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    gap: 24px;
    background-color: white;
    border-radius: 24px;
    padding: 24px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px 0;
}

.keyword {
    color: var(--main-yeahub, #6A0BFF);
}
