.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 800px;
    border-radius: 24px;
    padding: 20px;
    box-shadow: 0px 4px 10px 0px #6A63761A;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.sectionTitle {
    font-size: 24px;
    line-height: 0.5;
    margin-bottom: 12px;
}

.keyword {
    color: var(--main-yeahub, #6A0BFF);
}
