.quizNavContainer {  
    margin-top: 130px;  
}

.quizNavContainer span {
    font-size: 18px;
    color: var(--main-yeahub)
}

.content {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}